* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;    
}
body {
    background-color: black;
    color: whitesmoke;
    padding: 50px;
    margin: 10px;
}
h1 {
    font-size: 50px;   
}
p {
    font-size: 36px;
    padding-left: 11px;
    padding-top: 11px;
}
article {
    text-align: center;
    background-color: white;
    color: black;
    width: 30%;
    justify-content: center;
    position: relative;
    left: 33%;
}
article:hover {
    background-color: green;
    color: whitesmoke;
}
.one:hover {
    color: green;
}
.two:hover {
    color: green;
}
.three:hover {
    color: green;
}
.four:hover {
    color: green;
}
.five:hover {
    color: green;
}
.six:hover {
    color: green;
}
.seven:hover {
    color: green;
}
.eight:hover {
    color: green;
}
.nine:hover {
    color: green;
}
.ten:hover {
    color: green;
}
.last:hover {
    color: green;
}
.day {
    color: green;
}