* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	margin: 60px;
	background-color: lemonchiffon;
	color: ;
}
header {
	font-size: 50px;	
	font-weight: bold;
	text-decoration: underline;
	text-underline-offset: 10px;
	text-align: center;
}	
section {
	position: relative;
	top: 30px;
}
h2 {
	position: relative;
	top: -10px;
	left: -20px;
	font-size: 25px;
}
a {
	color: black;
	text-decoration: none;
}
ul {
	padding-left: 20px; 	
}
li {
	padding: 10px;
}
li:hover {
	text-decoration: underline;
	text-underline-offset: 5px;
}
h1 {
	font-size: 30px;
	color: ;
	text-decoration: underline;
	text-underline-offset: 7px;
}
p {
	width: 100%;
	position: relative;
	top: 20px;
	font-size: 25px;
	padding: 10px;
	line-height: 35px ;
}	
img {
	position: ;
	top: 30px;
}
.url {
	position: relative;
	width: 70%;
	left: 15%;
	border-radius: 60px;
}
table {
	position: relative;
	top: 30px;
	left: 50px;
	width: 90%;
	border-collapse: collapse;
	border: 3px solid black;
	font-size: 22px;
}
th {
	padding: 20px;
	border: 3px solid black;
	padding: 20px;
}
td {
	padding: 20px;
	border: 3px solid black;
}
tr:nth-child(odd) {
	background-color: honeydew;
  }
  tr:nth-child(even) {
	background-color: ;
  }
code {
  background-color: black;
  color: white;
  padding: 10px;	
}
.example {
  position: relative;
  left: 25px;
  }
 iframe {
  	position: relative;
  	top: 25px;
  	left: 50px;
 }
 .code {
 	font-size: 20px;
 	position: relative;
 	top: 30px;
 	left: 50px;
 	padding: 15px;
 }
 .codetwo {
 	font-size: 20px;
 	position: relative;
 	top: 33px;
 	left: 50px;
 	padding: 15px;
 }
 .frame {
 	position: relative;
 	top: 10px;
 	left: 15%;
 	width: 70%;
 	height: 50vh;
 	padding: 44px;
 	padding-left: 44px;
 }
